* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  /* width: 100%;
  height: 100%; */
  overflow-y: scroll;
}

.formContainer {
  max-width: 55%;
  width: 100%;
  /* padding: 0 2em 2em; */
  background: white;
  border-radius: 6px;
  box-shadow: 0 5px 10px #ccc;
}

.card {
  border: 1px solid white;
  max-width: 30%;
  text-align: center;
  margin: 0 5em;
  background: white;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 6px;
  color: #404040;
  margin-top: 40px;
}

.cardImg {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: -40px auto 0;
  box-shadow: 0 5px 10px #ccc;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin: 2em 0;
  font-size: 0.95rem;
  font-weight: 300;
  text-transform: uppercase;
}

.titleName {
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: 2em;
}

.quote {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 0.85rem;
  line-height: 1.6;

  padding: 1em;
  word-wrap: break-word;
  margin-bottom: 1em;
}

.editProfile {
  padding: 1em 2em 2em;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;
  background-image: linear-gradient(60deg, #ab47bc, #8e24aa);
  color: white;
  border-radius: 6px 6px 0 0;
}

.editHeader {
  font-weight: 300;
  margin-bottom: 0.5em;
}

.editPara {
  font-size: 0.95rem;
  letter-spacing: 1.6;
  color: #daa4d4;
  padding-left: 0.15em;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 2em 2em 2em;
}

.formWrapper {
  display: flex;
}

.formGroup {
  margin-bottom: 1em;
  transition: all 300ms;
  flex: 1 1 auto;
}

.formGroupRight {
  margin-left: 2em;
}

.labels {
  font-size: 0.96rem;
  display: block;
  opacity: 1;
  transform: translateY(-1.65em);
  transform-origin: 0 0;
  transition: all 300ms;
  color: #b2aab2;
}

.inputs {
  box-shadow: none;
  border-radius: 0;
  border-style: none none solid none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  transition: all 500ms;
  padding: 0.5em 0;
  font-size: 0.85rem;
  color: #404040;
}

.inputs::placeholder {
  color: transparent;
}

.inputs:focus {
  box-shadow: none;
  outline: none;
  border-color: #9c27b0;
}

.formGroup:focus-within {
  transform: scale(1.05, 1.05);
}

.inputs:focus + .labels,
.inputs:not(:placeholder-shown) + .labels {
  transform: translateY(-2.8em) scale(0.7);
}

/* .inputs {
  width: 100%;
  padding: 12px 20px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.85rem;
  background: #efefef;
  outline: none;
}

.inputs:focus {
  border: 1px solid #9c27b0;
} */

.btn {
  position: relative;
  background-image: linear-gradient(to bottom right, #ab47bc, #9127ac);
  width: 20%;
  color: white;
  text-transform: uppercase;
  padding: 1em 1.5em;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
  border: 0;
  outline: 0;
  transform: scale(1);
  transition: transform 500ms;
  overflow: hidden;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
}

.btnTwo {
  position: relative;
  background-image: linear-gradient(to bottom right, #ab47bc, #9127ac);
  color: white;
  text-transform: uppercase;
  padding: 1em 1.5em;
  border-radius: 2em;
  cursor: pointer;
  font-size: 0.85rem;
  border: 0;
  outline: 0;
  transform: scale(1);
  transition: transform 500ms;
  overflow: hidden;
  margin-bottom: 1em;
  /* margin-left: 1; */
}

.btnTwo:hover,
.btnTwo:focus {
  transform: scale(1.1);
}

.error {
  border-bottom: 1px solid red;
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column;
  }

  .formContainer {
    max-width: 100%;
    width: 100%;
  }

  .card {
    max-width: 100%;
    width: 100%;
    margin: 5em 0 0 0;
  }
}
