*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cardContainer {
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px solid white;
  min-width: 225px;
  min-height: 12vh;
  text-align: center;
  margin: 1em 2em;
  background: white;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 6px;
  color: #404040;
  flex: 1 1 0;
}

.icon {
  text-align: center;
  width: 90px;
  height: 90px;
  overflow: hidden;
  color: white;
  font-size: 1.5rem;
  padding-top: 1em;
  margin: -30px 20px 0;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 6px;
}

.iconOne {
  background-image: linear-gradient(60deg, #ffa726, #fb8c00);
}

.iconTwo {
  background: linear-gradient(60deg, #66bb6a, #43a047);
}

.iconThree {
  background: linear-gradient(60deg, #ef5350, #e53935);
}

.iconFour {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

.description {
  text-align: right;
  padding-right: 1em;
}

.descPara {
  color: #99a3c1;
  font-size: 0.95rem;
  margin-top: -50px;
  margin-bottom: 0.5em;
  font-weight: 300;
}

.descDetail {
  color: #404040;
  font-size: 1.5rem;
  font-weight: 300;
}

.cardFirst {
  margin-left: 0;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1.75em;
  margin: 2em auto;
}

.tableTitle {
  padding: 1em 1em 1em;
  width: 100%;
  text-align: left;
  background-image: linear-gradient(to right, #aa45bb, #9027ab);
  color: white;
  border-radius: 6px 6px 0 0;
  max-width: 1150px;
  font-size: 1.25rem;
}

.tableHeader {
  font-weight: 300;
  margin-bottom: 0.5em;
}

.table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #ccc;
  background: #ffffff;
  text-align: left;
  overflow: hidden;
  width: 100%;
  max-width: 1150px;
  border-radius: 0px 0px 6px 6px;
}

.headerDetails {
  font-size: 1.25rem;
}

.details {
  padding: 1.15em;
  font-size: 1.5rem;
  font-weight: 400;
}

.thead {
  border-bottom: 1px solid #e0e0e0;
  color: #a949b5;
}

.tr {
  border-bottom: 1px solid #e0e0e0;
}

.th {
  padding: 1.5em 2.25em;
  text-transform: uppercase;
  letter-spacing: 2;
  font-size: 0.8rem;
  font-weight: 500;
}

.td {
  padding: 1em 2em;
  font-size: 0.95rem;
  font-weight: 400;
}
