.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  color: #7b7b7b;
  background: #efefef;
  margin-top: 0.35em;
  margin-bottom: 1.5em;
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); */
}

.title h2 {
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.25rem;
}

.listItems {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 0.35em;
}

.listItems li {
  margin: 0 1em;
  color: #555555;
  position: relative;
}

.icons {
  padding: 0.2em;
  border-radius: 50%;
  transition: all 500ms ease-in-out;
  background-color: transparent;
}

.icons:hover {
  background-color: #a6a6a6;
  cursor: pointer;

  /* border-radius: 0%; */
}

.menuNotifications {
  width: 300px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  right: 10px;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(-20px); */
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}

.menu li {
  padding: 0.5em 1em;
  margin: 0 0.25em;
  border-radius: 6px;
  line-height: 1.42857143;
  transition: all 400ms linear;
  background-image: linear-gradient(
    to right,
    rgba(229, 229, 229, 0.658),
    #e5e5e5,
    rgba(255, 255, 255, 0)
  );
  background-position: 100% 100%;
  background-size: 2000%;
  text-align: center;
  text-decoration: none;
  color: #333333;
  display: block;
  font-size: 0.75rem;
}

.menu li:hover {
  background-position: 60% 50%;
  cursor: pointer;
}

/* .menu li:hover a {
  color: white;
} */

.clickActive {
  background-color: #a6a6a6;
}

.notify {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: tomato;
  border-radius: 5px;
  color: white;
  font-size: 0.65rem;
}

.notificationGang:hover {
  cursor: none;
}
