@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #eeeeee;
}

.containerBody {
  display: flex;
  flex-direction: column;
  width: 90%;
  color: #7b7b7b;
  padding-left: 1em;
  background: #efefef;
  overflow-x: hidden;
  overflow-y: scroll;
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 1390px) {
  * {
    box-sizing: border-box;
  }
  .containerBody {
    /* container makes sidebar to cover it*/
    width: 100%;
    position: relative;
    top: left;
    right: left;
  }
}
